// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #9f2241;
$dark-primary: #691c20;
$secondary: #235b4e;
$dark-secondary: #10312b;
$gold: #bc955c;
$ocre: #ddc9a3;
$beige: #e0d8b0;
$gray: #bbbbbb;
$gray-light: #E6E6E6;


// Accordion
$accordion-border-width:                  0;
$accordion-border-color:                  auto;
$accordion-border-radius:                 auto;

$accordion-button-active-bg: $primary;
$accordion-button-active-color: white;
$accordion-button-bg: #E6E6E6;
$accordion-button-color:  #6F7271;
$accordion-button-focus-box-shadow: white;

$accordion-icon-color:                    #6F7271;
$accordion-icon-active-color:             white;

$accordion-icon-transform:                auto;

$accordion-button-icon:         url("data:image/svg+xml,%3csvg class='w-64 h-64' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$accordion-icon-color}'%3e%3cpath fill='#{$accordion-icon-color}' d='M18.1818182%2c0 C19.1859723%2c0 20%2c0.814027728 20%2c1.81818182 L20%2c18.1818182 C20%2c19.1859723 19.1859723%2c20 18.1818182%2c20 L1.81818182%2c20 C0.814027728%2c20 0%2c19.1859723 0%2c18.1818182 L0%2c1.81818182 C0%2c0.814027728 0.814027728%2c0 1.81818182%2c0 L18.1818182%2c0 Z M10.2975939%2c4.91062796 C9.92103616%2c4.91062796 9.61577577%2c5.21588836 9.61577577%2c5.59244614 L9.61577577%2c5.59244614 L9.615%2c9.299 L5.90909091%2c9.299131 C5.56676565%2c9.299131 5.28336385%2c9.55141232 5.23466539%2c9.88019509 L5.22727273%2c9.98094918 C5.22727273%2c10.357507 5.53253313%2c10.6627674 5.90909091%2c10.6627674 L5.90909091%2c10.6627674 L9.615%2c10.662 L9.61577577%2c14.3694522 C9.61577577%2c14.7117775 9.86805709%2c14.9951793 10.1968399%2c15.0438777 L10.2975939%2c15.0512704 C10.6741517%2c15.0512704 10.9794121%2c14.74601 10.9794121%2c14.3694522 L10.9794121%2c14.3694522 L10.979%2c10.662 L14.686097%2c10.6627674 C15.0284222%2c10.6627674 15.311824%2c10.410486 15.3605225%2c10.0817033 L15.3679152%2c9.98094918 C15.3679152%2c9.6043914 15.0626548%2c9.299131 14.686097%2c9.299131 L14.686097%2c9.299131 L10.979%2c9.299 L10.9794121%2c5.59244614 C10.9794121%2c5.25012088 10.7271308%2c4.96671909 10.398348%2c4.91802062 Z'%3e%3c/path%3e%3c/svg%3e");
$accordion-button-active-icon:  url("data:image/svg+xml,%3csvg class='w-64 h-64' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#{$accordion-icon-active-color}'%3e%3cpath fill='#{$accordion-icon-active-color}' d='M18.1818182%2c0 C19.1859723%2c0 20%2c0.814027728 20%2c1.81818182 L20%2c18.1818182 C20%2c19.1859723 19.1859723%2c20 18.1818182%2c20 L1.81818182%2c20 C0.814027728%2c20 0%2c19.1859723 0%2c18.1818182 L0%2c1.81818182 C0%2c0.814027728 0.814027728%2c0 1.81818182%2c0 L18.1818182%2c0 Z M14.686097%2c9.299131 L5.90909091%2c9.299131 C5.53253313%2c9.299131 5.22727273%2c9.6043914 5.22727273%2c9.98094918 C5.22727273%2c10.357507 5.53253313%2c10.6627674 5.90909091%2c10.6627674 L5.90909091%2c10.6627674 L14.686097%2c10.6627674 C15.0626548%2c10.6627674 15.3679152%2c10.357507 15.3679152%2c9.98094918 C15.3679152%2c9.6043914 15.0626548%2c9.299131 14.686097%2c9.299131 L14.686097%2c9.299131 Z'%3e%3c/path%3e%3c/svg%3e");
// Accordion
