// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #691C32; //TODO: Reemplazar color primario por #8B1232
$gold: #BC955C;
$accordion-button-bg: $primary;
$accordion-button-color: $gold;
