// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

[type="checkbox"], [type="radio"] {
    color: #691C32
}

// Workaround for Bootstrap Accordion's issue
.collapse.show {
    visibility: visible;
}

.mtv-input-wrapper:focus-within {
    label {
        color: #235B4E;
    }
}

.mtv-text-input:not(:focus):invalid + label {    
    color: #9F2241;
}

/* .mtv-input-label:has(+ input:invalid) {
    color: #9F2241;
}

.mtv-input-label:has(+ input:valid) {
    color: #235B4E;
} */

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  //border: 1px solid green;
  -webkit-text-fill-color: #6F7271;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}