// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "main_page";
@import "login";
@import "diagram";
@import "question_section";

@import "choices.js/src/styles/choices.scss";

[type="checkbox"],
[type="radio"] {
    color: $secondary;
}

[type="search"]:focus {
    --tw-ring-color: #235b4e !important;
}

// Bootstrap Accordion
.accordion-button {
    font-size: 1.1rem;
    border-radius: 10px;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accordion-body {
    border: 1px solid $gray-light;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.accordion-button::after {
    content: none;
}

.accordion-button::before {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-right: 15px;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
    color: white;
}

.accordion-button:not(.collapsed)::before {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}

// Bootstrap Tooltips

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
}

// Workaround for Bootstrap Accordion's issue
.collapse.show {
    visibility: visible;
}

// Estilos para inputs

.mtv-input-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.mtv-text-input:invalid ~ label,
.mtv-text-input:invalid {
    color: #9f2241 !important;
    border-color: #9f2241 !important;
    outline: none;
}

.mtv-input-wrapper:focus-within label {
    color: #235b4e;
}

// Estilos de sweetalert2

.swal2-mtv-title {
    background-color: #e6e6e6;
    font-size: 1.2rem !important;
    font-weight: lighter !important;
    padding-top: 0.4em !important;
    padding-bottom: 0.4em !important;
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
    text-align: left !important;
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.swal2-mtv-title-warning:before {
    color: #9f2241;
    content: url("data:image/svg+xml,%3csvg width='30px' height='30px' version='1.2' baseProfile='tiny' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%239F2241'%3e%3cpath d='M21.171 15.398l-5.912-9.854c-.776-1.293-1.963-2.033-3.259-2.033s-2.483.74-3.259 2.031l-5.912 9.856c-.786 1.309-.872 2.705-.235 3.83.636 1.126 1.878 1.772 3.406 1.772h12c1.528 0 2.77-.646 3.406-1.771.637-1.125.551-2.521-.235-3.831zm-9.171 2.151c-.854 0-1.55-.695-1.55-1.549 0-.855.695-1.551 1.55-1.551s1.55.696 1.55 1.551c0 .854-.696 1.549-1.55 1.549zm1.633-7.424c-.011.031-1.401 3.468-1.401 3.468-.038.094-.13.156-.231.156s-.193-.062-.231-.156l-1.391-3.438c-.09-.233-.129-.443-.129-.655 0-.965.785-1.75 1.75-1.75s1.75.785 1.75 1.75c0 .212-.039.422-.117.625z'%3e%3c/path%3e%3c/svg%3e");
    margin-right: 0.5em;
    vertical-align: middle;
}

.swal2-mtv-popup {
    border-radius: 12px !important;
}

.swal2-mtv-confirm-button {
    background-color: #235b4e !important;
    font-weight: bold !important;
    order: 2;
}

.swal2-mtv-cancel-button {
    background-color: #e6e6e6 !important;
    color: #98989a !important;
    font-weight: bold !important;
    order: 1;
    margin-right: 1.5em !important;
    outline: none;
}

.swal2-mtv-html-container .swal-mtv-html-container-action {
    margin-top: 1em;
    color: #235b4e;
    font-weight: bold;
    margin-bottom: 0;
}

.swal2-mtv-html-container-reg-completo {
    margin-top: 0.2em;
}

.swal2-close {
    height: 1em !important;
    width: 1em !important;
}

// Estilos de choices.js

.choices {
    margin-bottom: 0;
}

.choices__inner {
    background-color: transparent;
    color: #6f7271;
}

.choices__list--multiple .choices__item {
    background-color: white;
    color: #235b4e;
    border: 1px solid #235b4e;
}

.choices__list--multiple > .choices__item.is-highlighted {
    background-color: #ddc9a3;
    color: white;
    border: 1px solid #e6e6e6;
}

.choices__inner--categorias {
    padding-top: 0.7rem;
    max-width: 32rem;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    z-index: 60;
}

.choices__button {
    color: #235b4e;
    border-left: 1px solid #235b4e !important;
    background-image: url("data:image/svg+xml,%3csvg width='21' height='21' viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3e%3cg fill='%23235b4e' fill-rule='evenodd'%3e%3cpath d='M2.592.044l18.364 18.364-2.548 2.548L.044 2.592z'/%3e%3cpath d='M0 18.364L18.364 0l2.548 2.548L2.548 20.912z'/%3e%3c/g%3e%3c/svg%3e") !important;
}

.colores__choices__item {
    @extend .choices__item;
    color: transparent !important;
    border: none !important;
}

/* Estilos de modal de información de detalle de funcionarios (Directorio CDMX) */

.funcionario__funciones ul {
    list-style: disc outside;
    padding-left: 1rem;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #6f7271;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
}
