.btn-signUp {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #235b4e;
    padding: 5px 20px;
    margin-bottom: 20px;
    opacity: 1;
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
.btn-signUp:hover {
    background-color: #bc955c;
    border: 0;
}

.form-register {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.form-register button {
    margin-top: 50px;
}

.login-page {
    display: flex;
}

.login-page h1 {
    font-size: 2.6rem;
    font-weight: 900;
    color: #235b4e;
    padding: 0 0 30px 0;
    text-shadow: 3px 3px 3px #d0d0d0;
    margin-top: 2rem;
}

.login-page h2 {
    font-size: 1rem;
    font-weight: normal;
    color: #235b4e;
    padding: 0 220px 20px 220px;
}

@media only screen and (max-width: 600px) {
    .login-page h1 {
        font-size: 1.4rem;
        margin-top: 2rem;
        padding: 0 6px 30px 6px;
    }

    .login-page h2 {
        font-size: 1rem;
        padding: 0px 10px 0px 10px;
        margin-bottom: 2rem;
    }

    .login-page-left {
        display: none;
    }
}

.welcome-message {
    padding-right: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.recover-password {
    font-size: 0.7rem;
    font-weight: 600;
    color: #235b4e;
    text-decoration: none;
}

.recover-password:hover {
    color: #9f2241;
}

.remember-password {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.remember {
    color: #98989a;
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: 5px;
}

.button-content {
    display: flex;
    justify-content: center;
}

.register {
    text-align: center;
    color: #6f7271;
    font-size: .8rem;
}

.register-link {
    font-size: 16px;
    font-weight: 600;
    color: #235b4e;
    text-decoration: none;
    padding-bottom: 20px;
}

.register a:hover {
    color: #9f2241;
}

.register-providers {
    text-align: center;
}

.register-providers p {
    color: #bc955c;
    font-size: .8rem;
}

.register-providers a {
    font-weight: 600;
    color: #bc955c;
    text-decoration: none;
}

.register-providers a:hover {
    color: #9f2241;
}

.img-cdmx {
    margin-top: -200px;
    margin-left: -300px;
}

.login-page-left {
    width: 60%;
}

.login-page-rigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dotted-spaced {
    height: 10px;
    background-image: linear-gradient(to right, #98989a 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 15px 2px;
    background-repeat: repeat-x;
}