@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mtv-text-input {
    @apply w-full rounded-md border-mtv-gray-light text-mtv-gray p-3
    focus:text-mtv-gray focus:outline-none focus:border-2 focus:border-mtv-secondary focus:ring-0 focus:ring-mtv-secondary
    disabled:bg-slate-50 disabled:text-slate-500 disabled:border-mtv-gray-light disabled:shadow-none
    invalid:border-mtv-primary invalid:text-mtv-primary focus:invalid:border-mtv-primary focus:invalid:ring-mtv-primary;
  }

  .mtv-input-label {
    @apply w-fit text-sm text-mtv-gray-2 relative top-2.5 bg-white ml-2.5 px-2;
  }

  .mtv-button-gray {
    @apply text-mtv-gray font-bold bg-white border border-slate-200 rounded-lg px-5 py-2
    hover:bg-mtv-gold-light hover:text-white active:bg-mtv-gold-light active:text-white
    focus:text-mtv-gold-light focus:ring-2 focus:ring-mtv-gold-light;
  }

  .mtv-button-gold {
    @apply border-slate-400 bg-mtv-gold rounded;
  }

  .mtv-button-primary {
    @apply font-bold text-white bg-mtv-primary rounded-lg py-2 px-5 my-4
    focus:outline-none focus:ring-2 focus:ring-mtv-gold-light
    hover:bg-mtv-gold-light hover:text-white active:bg-mtv-gold-light
    active:text-white active:ring-2 active:ring-mtv-primary;
  }

  .mtv-button-secondary {
    @apply font-bold text-white bg-mtv-secondary rounded-lg py-2 px-5 my-4
    focus:outline-none focus:ring-2 focus:ring-mtv-gold-light
    hover:bg-mtv-gold-light hover:text-white active:bg-mtv-gold-light
    active:text-white active:ring-2 active:ring-mtv-secondary;
  }

  .mtv-button-secondary-white {
    @apply font-bold border-mtv-gray-light border-2 rounded-lg bg-white text-mtv-secondary py-1 px-5 my-4
    focus:outline-none focus:ring-2 focus:ring-mtv-gray-light
    hover:bg-mtv-gold-light hover:text-white active:bg-mtv-gold-light
    active:text-mtv-secondary active:ring-2 active:border-mtv-gray-light;
  }

  .mtv-link-secondary {
      @apply font-bold bg-white text-mtv-secondary no-underline
      hover:bg-white hover:text-mtv-gold-light hover:underline
      active:text-mtv-gold-light;
  }

  .mtv-link-gold {
      @apply text-mtv-gold bg-white no-underline
      hover:bg-white hover:text-mtv-primary hover:underline
      active:text-mtv-primary;
  }

  .mtv-link-download-gold {
    @apply text-mtv-gold bg-white no-underline font-bold
    hover:bg-white hover:text-mtv-primary hover:no-underline
    active:text-mtv-primary;
}
}
